html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Raleway', sans-serif;
    /*font-family: 'Yeon Sung', cursive;*/
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

